.playerCardContainer {
    position: relative;
    height: 80%;
    width: 15%;
    background-color: #317548;
    border-radius: 6px;
    border: 1px solid #317548;
}

.playerCardBench {
    background-color: #dad5da;
    border-color: #dad5da;
}

.shirtContainer {
    width: 80%;
    margin: 0 auto;
    aspect-ratio: 0.5;
    position: relative;
    overflow: hidden;
}

.shirtContainer img {
    position: absolute;
    width: 100%;
    top: 15%;
}

.armbandBadge {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #2c02307a;
    color: white;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.autoSubIcon {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    box-sizing: content-box;
    color: white;
}

.playerInfo {
    width: 100%;
}

.playerName {
    width: 100%;
    background-color: white;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 10px;
    border-radius: 3px 3px 0 0;
    padding-left: 4px;
    padding-right: 4px;
}

.playerNameText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playerPoints {
    width: 100%;
    height: 16px;
    background-color: var(--primary-colour);
    font-family: var(--primary-font);
    color: white;
    font-weight: 700;
    font-size: 10px;
    border-radius: 0 0 6px 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px;
    box-sizing: border-box;
}

.playerPointsCompact {
    font-size: 7px;
}